@font-face {
	font-family: 'Gulax';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url('/font-source/Gulax/Gulax.woff2') format('woff2'),
		url('/font-source/Gulax/Gulax.woff') format('woff'),
		url('/font-source/Gulax/Gulax.otf') format('otf');
}
