@font-face {
	font-family: 'Grotesk';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url('/font-source/Grotesk/GroteskVF.ttf'),
		url('/font-source/Grotesk/Grotesk.woff2') format('woff2'),
		url('/font-source/Grotesk/Grotesk.woff') format('woff'),
		url('/font-source/Grotesk/Grotesk.otf');
}
