:root {
	/* font-family: 'Atkinson Hyperlegible', Avenir, Helvetica, Arial, sans-serif; */
	/* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
	/* font-family: 'Geist Mono', monospace; */

	font-family: 'Public Sans Variable', Helvetica, Arial, sans-serif;

	color: whitesmoke;
	background-color: var(--color-bg);
	color-scheme: dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@property --background {
	syntax: '<color>';
	inherits: false;
	/* initial-value: #f00; */
}

.noise {
	/* background:
			linear-gradient(to left, var(--background, red) 100dvw, blue),
			repeating-radial-gradient(#828282 0 0.0001%, rgba(244, 244, 244, 0.486) 0 0.0002%) 10% 0/2500px
				2500px,
			repeating-conic-gradient(rgb(0, 0, 0) 0 0.0001%, rgb(255, 255, 255) 0 0.0002%) 60% 60% /
				2500px 2500px; */
	background:
		var(--background-gradient, linear-gradient(to left, var(--background, red) 100dvw, blue)),
		repeating-radial-gradient(#828282 0 0.0001%, rgba(244, 244, 244, 0.486) 0 0.0002%) 10% 0/ 512px 512px,
		repeating-conic-gradient(rgb(0, 0, 0) 0 0.0001%, rgb(255, 255, 255) 0 0.0002%) 60% 60% / 512px
			512px;
	background-position: center;
	background-blend-mode: overlay, difference, difference;
}

.noise-border {
	border: 2px solid var(--background);
}

ol,
ul {
	list-style: none;
}

.row {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.col {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.center {
	justify-content: center;
}

.start {
	justify-content: flex-start;
}

.space {
	justify-content: space-between;
}

.align {
	align-items: center;
}

.flexible {
	flex: 1;
}

.hidden {
	display: none;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-scrollbar, #7a7a7a) transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-scrollbar, #7a7a7a);
	border-radius: 1rem;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

.hr {
	height: 1px;
	min-height: 1px;
	width: 100%;
	background-color: var(--color-secondary-light);
}

.mono {
	font-family: monospace;
}

a:hover {
	text-decoration: underline;
}
