*:disabled {
	cursor: not-allowed;
}

*:disabled {
	filter: brightness(75%);
}

button {
	border: 1px solid transparent;
}

input[type='text'],
input[type='number'],
textarea,
.btn {
	border-radius: 1rem;
	padding: 0.125rem 0.75rem;
	font-family: inherit;
	background-color: var(--color-secondary);
	transition:
		border-color 250ms ease-in-out,
		background-color 250ms ease-in-out,
		outline-offset 150ms ease-in-out;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;

	&:hover {
		background-color: var(--color-secondary-highlighted);
	}
}

a.btn {
	text-decoration: none;
}

textarea {
	resize: none;
	min-height: 5lh;
	width: 25rem;
}

label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	gap: 0.5rem;
}

label:has(input),
label:has(textarea),
input[type='checkbox'],
input[type='radio'],
input[type='color'],
.btn,
.cursor {
	cursor: pointer;
}

/* textarea,
input,
.btn, */
button {
	outline: none;
	outline-offset: 0px;
	transition: outline-offset 150ms ease-in-out;
}

textarea:focus-visible,
input:focus-visible,
.btn:focus-visible,
button:focus-visible {
	border: 1px solid transparent;
	border-radius: 8px;
	outline: var(--color-accent) solid 2px;
	outline-offset: 2px;
}

button:has(svg:only-child) {
	/* background-color: red; */
	min-height: 1.5rem;
	min-width: 1.5rem;
}

.icon {
	display: inline;
}

.icon-spacer {
	display: inline-block;
	height: 1.2em;
	width: 1.2em;
}

.rotate {
	display: inline;
	& > * {
		animation: rotate 1.5s linear infinite;
	}
}

.hover-rotate:hover > * {
	animation: rotate 1s ease-in-out;
}

@keyframes rotate {
	0% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.hover-shake:hover > * {
	animation: shake 1s linear;
	transform-origin: 75%;
}

@keyframes shake {
	0% {
		transform: rotate(5deg);
	}
	25% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(10eg);
	}
	75% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

span.label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 4px;
	background: currentColor;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	cursor: pointer;
	margin: 0.5rem 0;
}

input[type='range']::-moz-range-thumb,
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 6px;
	border-radius: 0;
	outline: none;
	border: 1px solid var(--background, transparent);
	height: 16px;
	background: currentColor;
}
