@font-face {
	font-family: 'Gensco';
	src: url('/font-source/Gensco/Gensco.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gensco Damaged 1';
	src: url('/font-source/Gensco/GenscoDamaged1.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gensco Damaged 2';
	src: url('/font-source/Gensco/GenscoDamaged2.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gensco Damaged 3';
	src: url('/font-source/Gensco/GenscoDamaged3.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gensco Damaged 4';
	src: url('/font-source/Gensco/GenscoDamaged4.otf');
	font-weight: normal;
	font-style: normal;
}
